@using F4ST.MultiLang
@inject IJsonFileProcessor Processor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Processor.R.Menus.Test3</h1>
    <p>Menu2= @Processor["Globals","Menu2"]</p>
    <p>Menu2 En= @Processor["Globals","Menu2","en"]</p>
</div>
